<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/segunda'>Segunda Ruta</a></li>
        <li><a href='/tercera'>Tercer Ruta</a></li>
        <li><a href='/cuarta'>Cuarta Ruta</a></li>
        
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
