* {
    box-sizing: border-box;
    pad: 0px;
    margin: opx;
}

.contenedor {
    flex-direction: column;
    display: flex;
    background-color: white;
    border: solid black;
    width: 500px;
    height: auto;
    align-items: end;
}

.item {
    background-color: #ccc;
    border-color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 20px;
    color: white;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rojo {
    background-color: red;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: green;
}