.contenedor {
    flex-direction: row-reverse;
    display: inline-flex;
    border:solid black;
    background-color: white;
    width: 500px;
    height: 500px;
    align-items: center;
    margin: 0px;
    flex-wrap: nowrap;
    }

.item {
    background-color: #ccc;
    border-color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 20px;
    color: white;
    margin: 0px;
    text-align: center;
    justify-content: center;
}

#rojo {
    background-color: red;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: green;
}