.contenedor {
    flex-direction: row;
    display: inline-flex;
    border:solid black;
    background-color: white;
    justify-content: space-between;
    width: 500px;
    height: auto;
}

.item {
    background-color: #ccc;
    border-color: black;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 20px;
    color: white;
    justify-content: space-between;
    text-align: center;
}

#rojo {
    background-color: red;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: green;
}