@charset "utf-8";
/* CSS Document */


body {
	color: #000;
	background: #332F29;
	font-size: 100%;
}

#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

nav {
	background: #CC3910;
	float: left;
	width: 160px;
}

ul {
	list-style-type: none;
}

a {
	color: #F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0px;
	width: 400px;
}

aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media (max-width: 800px) {

	#contenedor {
		width: 800px;
		background: #8FA68E;
		margin-right: auto;
		margin-left: auto;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	nav {
		background: #ffcc65;
		float: left;
		width: 100%;
	}

	ul {
		list-style-type: none;
	}

	a {
		color: black;
		text-decoration: none;
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	section {
		background: #F1F2C0;
		float: left;
		border: solid 1px black;
		width: 100%;
		justify-content: space-between;
		padding-left: 20px;
		}

	aside {
		background: #CCC59E;
		float: right;
		width: 100%;
		border: solid 1px black;
		padding-left: 20px;
	}
}